<section class="mt-[175px] ml-36 flex flex-ro">
  <!--The following divison for details-->
  <div class="text-white flex flex-col w-[500px] justify-around">
    <p class="font-bold text-[50px]">Hello, It's Me</p>
    <p class="font-bold text-[50px]">RINSHAHAN K</p>
    <P class="font-bold text-[30px]">And I'm a <span class="text-cyan-400">Full Stack Developer</span></P>

    <p class="font-semibold mt-3">a passionate and self-taught Full Stack Developer specializing in the MEAN stack. With
      over
      a year of
      professional experience and a Bachelor of Computer Application degree, I've honed my skills in creating dynamic
      and scalable web applications.</p>

    <!--Social Media Buttons-->
    <div>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
    </div>
  </div>


  <!--The following division is for Image-->
  <div>
    <img src="" alt="">
  </div>
</section>